[General]
stop_all_jobs_on_failure = True
## Set job type
job_type = sge
#job_type = local
#pwatcher_type = blocking
#job_type = string

#skip_checks = true
#use_tmpdir = true
#use_tmpdir = /its1/GB_BT2/jianzuoyi/tmp

# Input data
input_fofn = input.fofn
input_type = raw
#input_type = preads

genome_size = 3260000000
target = assembly
# fasta2DB splits reads to multiple blocks
# -s50 50Mbp per block, default: 200, daligner need 16G RAM
# -x500 reads will be discarded which length less than 500bp
# -a the second reads come from the ZMW will not be discarded
pa_DBsplit_option =   -a -x500 -s400
ovlp_DBsplit_option = -a -x500 -s400
## daligner perform overlapping analysis against all blocks
# -v show verbose information when daligner is running
# -B4 4 blocks per daligner command process, the bigger this parameter, the less tasks
# -k -w -h related to matched kmer, default: 14, 6, 35
# -T4	Now -T is hard-coded
# -M32 the maxmum RAM per daligner is 32G RAM, this parameter is useful for large genomes
# -t16 filtered the kmer whose coverage is more than 16. default condition: daligner will calculate this value according the -M
# -l1000 ignore the reads whose length is less than 1000bp
# -s1000 the  point is set to 1000 when record the alignment results 
# The daligner's default parameters will be fine for raw pacbio data
# but for corrected pacbio data, the recommanded value are: -k20 -h60 -e.85
pa_HPCdaligner_option =   -v -B128 -M32 -k18 -w8 -h480 -e.70 -l4800 -s1000
ovlp_HPCdaligner_option = -v -B128 -M32 -k24 -h1024 -e.96 -l2400 -s1000

## Correct Pacbio data: overlapping, consensus and pre-assembly
# The length cutoff used for seed reads used for initial mapping
length_cutoff = 5000
seed_coverage = 30
## FALCON using fc_consensus.py to call consensus according the overlapping results come from daligner
# --min_cov reads will be break or trimed when a region's coverage is less than the threshold value, default: 6
# --min_cov_aln the average coverage of read is less than a threshold, the read will be ignored, default: 10
# --min_n_read, --max_n_read the number of reads must be > min_n_read and < max_n_read, so can call consensus, 
#                            when genome has many repeats, --max_n_read should be reduced,defalut: 10, 500
# --min_idt minimum identity
# --n_core max threads, default: 24
falcon_sense_option = --output_multi --min_idt 0.70 --min_cov 4 --max_n_read 200 --n_core 16
falcon_sense_skip_contained = True

#LA4Falcon_preload = true

# The length cutoff used for seed reads use for pre-assembly
length_cutoff_pr = 4000
## filtering overlaps
# --bestn 
# --min_cov, --max_cov length_cutoff > 20x preads, --min_cov may be 5 and --max_cov may be 3 multiple average coverage
# --max_diff the difference coverage of two ends, 2 multiple average coverage
# 可以使用在1-preads_ovl目录下运行 fc_ovlp_stats.py --fofn merge-gather/las.fofn 导出overlap结果首尾的覆盖度结果，从而帮助设置以上参数
overlap_filtering_setting = --min_cov 4 --max_cov 100 --max_diff 100 --n_core 16

# sge resources
# 0-rawreads
sge_option = -l vf=4G,p=36
sge_option_da  = -l vf=20G,p=4
sge_option_la  = -l vf=20G,p=4
sge_option_cns = -l vf=64G,p=16
da_concurrent_jobs = 50
la_concurrent_jobs = 50
cns_concurrent_jobs = 12
# 1-preads_ovl
sge_option_pda = -l vf=20G,p=4
sge_option_pla = -l vf=20G,p=4
pda_concurrent_jobs = 50
pla_concurrent_jobs = 50
# 2-asm-falcon
sge_option_fc  = -l vf=64G,p=16
fc_concurrent_jobs = 12
