[mysqld]
open-files-limit=1024
local-infile
character-set-server=latin1
connect-timeout=60
log-bin-trust-function-creators=1
key_buffer_size=1M
sort_buffer=256K
max_heap_table_size=1M
loose-innodb_data_file_path=ibdata1:10M:autoextend
loose-innodb_buffer_pool_size=8M
loose-innodb_write_io_threads=2
loose-innodb_read_io_threads=2
loose-innodb_log_buffer_size=1M
loose-innodb_log_file_size=5M
loose-innodb_additional_mem_pool_size=1M
loose-innodb_log_files_in_group=2
slave-net-timeout=120
log-bin=mysqld-bin
loose-enable-performance-schema
loose-performance-schema-max-mutex-instances=10000
loose-performance-schema-max-rwlock-instances=10000
loose-performance-schema-max-table-instances=500
loose-performance-schema-max-table-handles=1000
binlog-direct-non-transactional-updates
port = 3307
basedir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda
datadir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/mysqld.1/data
socket=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/tmp/mysqld.1.sock
[mysql]
default-character-set=latin1

[mysqlshow]
default-character-set=latin1

[mysqlimport]
default-character-set=latin1

[mysqlcheck]
default-character-set=latin1

[mysql_upgrade]
default-character-set=latin1
tmpdir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/tmp

[mysqld.1]
#!run-master-sh
log-bin=master-bin
loose-innodb
basedir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda
tmpdir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/tmp/mysqld.1
character-sets-dir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/share/charsets
lc-messages-dir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/share/
datadir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/mysqld.1/data
pid-file=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/run/mysqld.1.pid
#host=localhost
port=13000
socket=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/tmp/mysqld.1.sock
#log-error=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/log/mysqld.1.err
general_log=1
general_log_file=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/mysqld.1/mysqld.log
slow_query_log=1
slow_query_log_file=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/mysqld.1/mysqld-slow.log
#user=root
#password=
server-id=1
secure-file-priv=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var

[mysqld.2]
#!run-slave-sh
#!use-slave-opt
log-bin=slave-bin
relay-log=slave-relay-bin
init-rpl-role=slave
log-slave-updates
master-retry-count=10
report-host=127.0.0.1
report-port=13001
report-user=root
skip-slave-start
slave-load-tmpdir=../../tmp
loose-innodb
basedir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda
tmpdir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/tmp/mysqld.2
character-sets-dir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/share/charsets
lc-messages-dir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/share/
datadir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/mysqld.2/data
pid-file=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/run/mysqld.2.pid
#host=localhost
port=13001
socket=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/tmp/mysqld.2.sock
#log-error=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/log/mysqld.2.err
general_log=1
general_log_file=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/mysqld.2/mysqld.log
slow_query_log=1
slow_query_log_file=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/mysqld.2/mysqld-slow.log
#user=root
#password=
server-id=2
secure-file-priv=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var

[ENV]
MASTER_MYPORT=13000
MASTER_MYSOCK=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/tmp/mysqld.1.sock
SLAVE_MYPORT=13001
SLAVE_MYSOCK=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/tmp/mysqld.2.sock

[mysqlbinlog]
character-sets-dir=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/share/charsets

[client]
password=
user=root
port=13000
host=localhost
socket=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/tmp/mysqld.1.sock

[mysqltest]

[client.1]
password=
user=root
port=13000
host=localhost
socket=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/tmp/mysqld.1.sock

[client.2]
password=
user=root
port=13001
host=localhost
socket=/its1/GB_BT2/jianzuoyi/biosoft/anaconda/mysql-test/var/tmp/mysqld.2.sock

